<h1>Convert <%= @original_currency %></h1>
<p>
  Go
  <a href="/">back</a>.
</p>
<ul>
  <% @currency_hash.each do |code, name| %>
    <li>
      <a href="/<%= @original_currency %>/<%= code %>"> Convert 1 <%= @original_currency %> to <%= code %>...</a>
    </li>
  <% end %>
</ul>
